@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    box-sizing: border-box;
  }  

  body {
    font-family: "VT323", system-ui, monospace;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .display {
    font-size: 28px;
    width: 100%;
    height: 52px;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    color: white;
    border-radius: 4px;
    background-color: rgb(58, 63, 68);
  }
  
  #calculator {
    font-size: 32px;
    padding: 24px;
    max-width: 330px;
    width: 100%;
    height: 455px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #bababa;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
  }
  
  .row:last-child::before {
    width: 40px;
    height: 40px;
  }
  
  .button {
    padding: 20px 23px;
    width: 56px;
    height: 38px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background-color: #fff7d0;
    border-radius: 5px;
    border: 1px solid rgb(255, 230, 149);
  }

  .extra {
    display: flex;
    justify-content: space-between;
    margin: 0 6px;
  }
  
  #instructions p,h1,ol {
    margin: 11px;
  }